/* client/src/App.css */
@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* match your radial-bg base color */
  background: #020015; 
  overflow-x: hidden;    /* <– important */
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.radial-bg {
    background: radial-gradient(circle at center, rgba(128,0,128,0.3), transparent 70%);
}

